.container {
    padding: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 5px 0px;
    border-radius: 10px;
    transition: all 0.3s ease;
    border: 1px solid transparent;
    cursor: pointer;
  }
  
  .container:hover,
  .active {
    background-color: var(--primaryHover);
    transform: translateX(5px);
    box-shadow: 0 4px 15px rgba(250, 230, 250, 0.3);
    border-color: var(--borderHover);
  }
  
  .container:hover *,
  .active * {
    color: white;
  }
  